@media(max-width: 480px) {
  #navbar a {
    font-size: 10px;
    padding: 5px 7px;
  }

  #navbar {
    padding: 25px;
  }

  .header-logo {
    width: 250px;
    height: 250px;
  }

  .container {
    padding: 40px 35px;
  }

  .header-title {
    font-size: 35px;
    text-align: center;
  }

  .header-box {
    margin-bottom: 10px;
  }

  .hero {
    padding: 50px 40px;
  }

  .box {
    padding: 150px 35px;
  }

  .box-title {
    font-size: 25px;
  }

  .how-text {
    font-size: 16px;
    margin-bottom: 30px;
  }

  #slides {
    height: 330px;
    width: 330px;
  }

  .how-btn {
    left: -40px;
  }

  .diplom-list {
    flex-direction: column;
    padding: 0;
  }

  .demo-title {
    margin-bottom: 30px;
  }

  .diplom-item {
    width: 100%;
  }

  .diplom-name {
    font-size: 18px;
  }

  .dpl-text {
    font-size: 10px;
  }

  .diplom-text {
    text-align: center;
    font-size: 14px;
  }

  .paral:last-child {
    display: none;
  }

  .diplom-img {
    margin-bottom: 10px;
  }

  .diplom-item:nth-child(n+4) {
    display: none;
  }

  .mat-title {
    text-align: center;
    margin-bottom: 15px;
  }
  
  .mat-link {
    font-size: 14px;
  }

  .mat-blog {
    margin-bottom: 20px;
  }

  .footer-title {
    font-size: 28px;
  }

  .footer {
    padding: 0 40px;
  }

  .br-footer-1 {
    display: inline;
  }

  .footer-text {
    text-align: center;
  }
  
   .skroll {
    background-attachment: scroll
  }
}
}
